# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db

# Database (Optional: ignore if you want a fresh start, keep if you want initial users)
# server/database.json
